@mixin section-padding {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2%;
  width: 70%;
  height: fit-content;
  margin: auto;
  margin-top: 2.7rem;
}

@mixin section-sub-header($property) {
  font-size: 2.2rem;
  color: $property;
  text-align: center;
  @media screen and(max-width: 900px) {
    font-size: 1rem;
    width: 100%;
  }
}

@mixin hr-line($property) {
  width: 5%;
  margin-top: -1.5rem;
  border: solid 1px $property;
  @media screen and(max-width: 900px) {
    border: solid 0.5px $property;
  }
}

@mixin hover-transition {
  &:hover {
    transition: 400ms ease all;
    background-color: $primary-color;
    color: $secondary-color;
    font-style: italic;
    border-radius: 0.2rem;
  }
}

@mixin navigation-items {
  text-decoration: none !important;
  margin-right: 1.2em;
  font-size: 1.2rem;
}

@mixin footer-text {
  @media screen and(max-width: 900px) {
    font-size: 0.2rem;
  }
}

@mixin input-box() {
  width: 100%;
  height: 3.2em;
  font-size: 1.2rem;
  border-radius: 0;
  border: none;
  border-bottom: solid 1px $secondary-color;
  margin: 0.9rem 0;
  @media screen and(max-width: 900px) {
    height: 1rem;
  }
}

@mixin shrinkLabel {
  top: -0.2rem;
  font-size: 1rem;
  color: $secondary-color;
  @media screen and(max-width: 900px) {
    font-size: 0.5rem;
  }
}

@mixin title-responsive {
  @media screen and(max-width: 900px) {
    margin-top: -15%;
    font-size: 3rem;
    width: 100%;
  }
}

@mixin content-responsive {
  @media screen and(max-width: 900px) {
    font-size: 1rem;
    width: 100%;
  }
}

@mixin web-content {
  @media screen and(max-width: 900px) {
    font-size: 0.7rem;
  }
}

@mixin blog-divider {
  width: 100%;
  border: solid 1px $primary-color;
  margin-bottom: 5%;
}

@mixin section-background {
  background-image: linear-gradient(
    to right bottom,
    #21038c,
    #200389,
    #1e0486,
    #1d0484,
    #1c0481,
    #1a047c,
    #170577,
    #150572,
    #110569,
    #0e0561,
    #0a0558,
    #080450
  );
}
