@import '../../sass/main';

.about {
  background-color: transparent;
  margin-bottom: 100px;
  padding-top: 7rem;
  @include section-padding();
  margin-top: 30%;
  .arrows {
    @include arrow-animate();
  }
}
