@import '../../sass/main';

.header {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 90%;
  z-index: 1000;
  align-items: center;

  @include section-padding();

  .header__logo {
    font-size: 1.7rem;
    font-style: italic;
    .header__name {
      margin: 0 1rem;
    }
  }

  .header__icons {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 20px;
    @media screen and(max-width: 900px) {
      display: none;
    }

    .header__dropdown {
      display: none;
      @media screen and(max-width: 900px) {
        display: contents;
      }
    }

    .header__links {
      text-decoration: none !important;
      padding: 0.9rem 1.2rem;

      @include hover-transition();

      @media screen and(max-width: 900px) {
        margin-bottom: 1.2em;
      }
    }
  }
}
