@import "../../sass/main";

.project-card {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0;
  padding: 2% 0;
  background-color: $primary-color;

  .project-card__image {
    width: 30vw;
    height: 100%;

    @media screen and(max-width: 900px) {
      margin-top: 15%;
    }
  }
  .project-card__contents {
    flex-direction: column;
    text-align: center;
    width: 30vw;
  }
  .project-card__header {
    color: $secondary-color;
    font-size: 2rem;
    &:focus {
      outline: none;
    }
    @include web-content();
  }
  .project-card__sub-header {
    color: $secondary-color;
    font-size: 1.5rem;
  }
  .project-card__description {
    justify-content: left !important;
    line-height: 2.5;
    font-size: 1.2rem;

    &:focus {
      outline: none;
    }
    @include web-content();
  }
}
