@import '../../sass/main';

.project-card {
  display: flex;
  flex-direction: column;
  padding: 2% 5%;

  .project-card__image {
    width: 25rem;
    height: 18rem;
  }
  .project-card__contents {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 0 2%;
    height: 11rem;
    :first-child {
      font-weight: 600;
    }
    .project-card__stack {
      height: 50px;
    }
  }
  .project-card__buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 9%;
    padding-bottom: 5%;

    .project-card__button {
      background-color: $quad-color;
      padding: 5% 12%;
      cursor: pointer;
    }
  }
  .project-card__private {
    margin: 0 auto;
    margin-top: -7%;
    background-color: $tertiary-color;
    color: $primary-color;
    padding: 5%;
    width: 50%;
    border-radius: 3%;
  }
}
