@import "../../sass/main";

.projects {
  background-color: $secondary-color;
  @include section-padding();
  .projects__header {
    @include section-sub-header($primary-color);
  }
  .projects__line {
    @include hr-line($primary-color);
  }
  .projects__container {
    display: flex;
    flex-direction: column;
  }
}
