@import '../../sass/main';

.projects {
  background-color: $secondary-color;
  @include section-padding();
  .projects__header {
    @include section-sub-header();
  }
  .projects__line {
    @include hr-line();
  }
  .projects__container {
    display: flex;
    flex-direction: column;
  }
}
